<!DOCTYPE html>
<html style="height:100%;" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Nook - {{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col" style="height:100%;">
    <header class="flex justify-between items-center bg-sky-100 px-5 border-b-4 border-sky-700">
        <a class="flex items-center" href="/">
            <img class="w-10 lg:w-14" src="https://img.pikbest.com/origin/10/45/60/32IpIkbEsT3uW.png!f305cw" alt="">
            <h1 class="mx-2 text-base lg:text-lg font-semibold">The Reading Nook</h1>
        </a>
        <nav class="flex">
            <a class="bg-sky-400 hover:bg-sky-600 font-semibold text-sm lg:text-base transition-colors duration-300 text-white py-2 px-3 lg:px-5 m-2 rounded-md"
                href="{{href1}}">{{btn1}}</a>
            <a class="bg-sky-400 hover:bg-sky-600 font-semibold text-sm lg:text-base transition-colors duration-300 text-white py-2 px-3 lg:px-5 m-2 rounded-md"
                href="{{href2}}">{{btn2}}</a>
        </nav>
    </header>

    {{{body}}}

    <footer class="p-3 bg-sky-100">
        <div class="flex flex-col lg:flex-row justify-center">
            <a class="px-2 flex items-center" href="https://github.com/ThStranick15"><img class="w-6 lg:w-8 mx-2"
                    src="/assets/images/github-mark.png"> <span class="text-sm lg:text-base">Thomas Stranick</span></a>
            <a class="px-2 flex items-center" href="https://github.com/Mirsad33"><img class="w-6 lg:w-8 mx-2"
                    src="/assets/images/github-mark.png"> <span class="text-sm lg:text-base">Mirsad
                    Abedinoski</span></a>
            <a class="px-2 flex items-center" href="https://github.com/tarikorg"><img class="w-6 lg:w-8 mx-2"
                    src="/assets/images/github-mark.png"> <span class="text-sm lg:text-base">Muhsin Tarik
                    Orgerim</span></a>
            <a class="px-2 flex items-center" href="https://github.com/TIrwin19"><img class="w-6 lg:w-8 mx-2"
                    src="/assets/images/github-mark.png"> <span class="text-sm lg:text-base">Trevor Irwin</span></a>
            <a class="px-2 flex items-center" href="https://github.com/dellman000"><img class="w-6 lg:w-8 mx-2"
                    src="/assets/images/github-mark.png"> <span class="text-sm lg:text-base">Kendell Rennie</span></a>
        </div>
    </footer>

</body>

</html>