<!DOCTYPE html>
<html style="height:100%;" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Nook - {{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="height:100%;">
    <header class="flex justify-between items-center bg-sky-100 px-5 border-b-4 border-sky-700">
    <a href="/">
        <h1>The Reading Nook</h1>
    </a>
    <nav class="flex">
        <a class="bg-sky-400 hover:bg-sky-600 transition-colors duration-300 text-white py-2 px-5 m-2 rounded-md" href="{{href1}}">{{btn1}}</a>
        <a class="bg-sky-400 hover:bg-sky-600 transition-colors duration-300 text-white py-2 px-5 m-2 rounded-md" href="{{href2}}">{{btn2}}</a>
    </nav>
    </header>

        {{{body}}}

    <footer>
        <div class="flex justify-center">
            <a class="px-2" href="https://github.com/ThStranick15">Thomas Stranick</a>
            <a class="px-2" href="https://github.com/tarikorg">Mirsad Abedinoski</a>
            <a class="px-2" href="">Muhsin Tarik Orgerim</a>
            <a class="px-2" href="https://github.com/TIrwin19">Trevor Irwin</a>
            <a class="px-2" href="">Kendell Rennie</a>
        </div>
    </footer>

</body>

</html>