<main class="flex flex-1 bg-sky-50">
    <div class="flex flex-col lg:flex-row">
        <div class="basis-1/8 bg-sky-800 flex flex-col my-2">
            <div class="">
                <h1 class="mx-4 mt-2 text-white text-lg font-semibold">Search</h1>
                <div class="mx-4 border-2 border-sky-200 my-2"></div>

                <form class="mx-4 flex flex-row lg:flex-col" action="/search/title/" method="post">
                    <div class="flex flex-row lg:flex-col">
                        <input class="m-2 p-1 rounded-md" type="text" name="title" placeholder="Search a Title">
                        <input class="m-2 p-1 rounded-md" type="text" name="author" placeholder="Search a Author">
                    </div>
                    <button class="m-2 p-1 rounded-md bg-sky-200" type="submit">Submit</button>
                </form>
            </div>

            <nav class="">
                <h1 class="mx-4 mt-2 text-white text-lg font-semibold">Categories</h1>
                <div class="mx-4 border-2 border-sky-200 my-2"></div>
                <div class="flex flex-row lg:flex-col">
                    <a href="/search/horror"
                        class="block text-bold text-white hover:text-sky-500 px-4 py-2 genre-button">Horror</a>
                    <a href="/search/romance"
                        class="block text-white hover:text-sky-500 px-4 py-2 genre-button">Romance</a>
                    <a href="/search/sci-fi"
                        class="block text-white hover:text-sky-500 px-4 py-2 genre-button">Sci-Fi</a>
                    <a href="/search/non-fiction"
                        class="block text-white hover:text-sky-500 px-4 py-2 genre-button">Non-Fiction</a>
                </div>
            </nav>
        </div>


        <div class="basis-7/8 flex flex-col">
            <div class="flex justify-between m-2 p-2">
                <div class="flex flex-row">
                    <div id="searchResults">
                        {{#each books}}
                        <div data-id="{{this.id}}"
                            class="book flex border-2 border-sky-700 m-2 p-2 rounded-md justify-between">
                            <div class="flex">
                                {{#if this.volumeInfo.imageLinks}}
                                <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="Book Cover">
                                {{else}}
                                <p>No Image Available</p>
                                {{/if}}
                                <div class="flex flex-col m-2">
                                    <h2 class="font-bold text-lg">{{this.volumeInfo.title}}</h2>
                                    {{#if this.searchInfo}}
                                    <p>{{this.searchInfo.textSnippet}}</p>
                                    {{else}}
                                    <p>No Description Available</p>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="flex items-center">
                                <input type="checkbox" id="myCheckbox" class="form-checkbox h-5 w-5 text-blue-600">
                                <label for="myCheckbox" class="ml-2 text-gray-700">Favorite</label>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="/js/index.js"></script>